.text {
  outline: none;
}

.text:hover {
  border-color: var(--color-border);
}

.text:focus {
  border-color: var(--color-border);
}

.primary {
  font-size: var(--fontsize-primary);
  height: 50px;
  padding: 5px 15px;
  border: 1px solid #ced6e0;
  border-radius: 5px;
}

.widthNormal {
  max-width: 150px;
  width: 100%;
}

.widthFull {
  width: 100%;
}

.widthAuto {
  width: auto;
}
